/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Overall body styling */
body {
    background-color:#bac64b;
    background-image: linear-gradient(315deg, #b8c0db 0%, #f5f7fa 100%);
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

/* Quiz container styling */
.quiz-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 600px;
    overflow: hidden;
}

/* Quiz header styling */
.quiz-header {
    padding: 2rem;
}

h2  {
    padding: 1rem;
    text-align: center;
    margin: 0;
}

/* Style for the answer options list */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem;
    cursor: pointer;
}

ul li label {
    cursor: pointer;
}

/* Submit button styling */
button {
    background-color: #732d91;
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 1.3rem;
    font-size: 1.1rem;
    font-family: inherit;
    cursor: pointer;
}

button:hover {
    background-color: #5e3370;
}

button:focus {
    outline: none;
}

